<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <form>
    <h1>Register tinyApp account</h1>
    <input type="email" name="email" placeholder="Your Email">
    <input type="password" name="password" placeholder="Create Password">
    <button type="submit">
      Create Account
    </button>
  </form>

</body>

</html>